<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
        <!-- <ion-button type="submit" [disabled]="form.invalid">Incio</ion-button> -->
        <!-- <ion-button (click)="signUpOnclick()" type="submit" [disabled]="form.invalid">Registro</ion-button> -->
        <ion-button (click)="loginOnClick()" type="submit">Incio</ion-button>
        <ion-button (click)="signUpOnclick()">Registro</ion-button>
  </form>
</ion-content>
